#header {
    height: 58px;
}

#sidebar {
    width: 70px;
    background-color: #0f263c;
    height: 100%;
}

#main {
    height: calc(100vh - 58px);
}

nav {
    height: 100%;
}

nav .logo_small {
    width: 35px;
}

.sidebar_buttons {
    height: 100%;
}

.site_main {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.site_main header {
    background-color: #1b72e8;
}

.site_main .offcanvas {
    width: 50vw !important;
}

.floating_card {
    height: calc(100vh - 58px);

}

tbody img {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

@media screen and (min-width:768px) {
    .new_student {
        order: 3;
    }
}

@media screen and (min-width:992px) {
    #sidebar {
        width: 150px;
    }



}